/* Write the CSS Code for Lessons 01-04 below this comment */

/* Write the CSS Code for Lessons 01-04 above this comment */

/* Edit the CSS Code for Lesson 05 below this comment */
.app {
    background-color: rgb(137, 179, 217);
    padding: 5px;
    height: 400px;
    width: 1600px;
}
/* Edit the CSS Code for Lesson 05 above this comment */

/* Pre-existing CSS for Lesson 04 DO NOT Tamper with */
.sandbox {
    display: flex;
    background-color: rgb(103, 100, 100);
    height: 300px;
    margin-top: 15px;
}
.red-box {
    background-color: rgb(144, 9, 9);
    width: 50px;
    height: 50px;
    margin: 10px;
}