


/* Pre-existing CSS for Lesson 04 DO NOT Tamper with */
.sandbox {
    display: flex;
    background-color: rgb(103, 100, 100);
    height: 300px;
    margin-top: 15px;
}
.red-box {
    background-color: rgb(144, 9, 9);
    width: 50px;
    height: 50px;
    margin: 10px;
}